*{
    padding: 0px;
    margin: 0px;
    font-family: poppins;
}

.main_container{
    height: 100vh;
    background: #FFC4C4;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}

.add_task_container,.list_task_container{
    background: #FCF5EE;
    height: 90vh;
    width: 40%;
    border-radius: 10px;
    transition: 0.2s ease;
}
.list_task_container{
    overflow-y: auto;   /* scroll vertically */
    overflow-x: hidden; /* avoid sideways scroll */
}
.list_task_container h2{

 
  
    color: #FCF5EE;
    height: 2.5rem;
    padding-top: 10px;
    text-align: center;
    background: #850E35;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.tasks{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}
.task{
    
    background: rgba(128, 128, 128, 0.46);
    border-radius: 10px;
    height: 2.5rem;
    margin-top: 15px;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.task .checkbox{
    margin-left: 20px;
    margin-top: 2px;
    transform: scale(1.6);
}
.add_task_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.add_task_container h2{
    font-size: 1.5rem;
    color: #540863;
    margin: 1rem;
}
.add_task_container input{
    border-radius: 10px;
    border: solid rgb(73, 73, 73) 0.1px;
    outline: none;
    height: 4rem;
    width: 70%;
    margin-bottom: 1rem;
    padding: 5px;
    font-size: 15px;
}
.add_task_container button{
    border-radius: 10px;
    border: solid rgb(73, 73, 73) 0.1px;
    outline: none;
    height: 3.5rem;
    width: 73%;
    color: #540863;
    font-size: 15px;
    background: #FFC4C4;
    font-weight: bold;

}
li{
    cursor: pointer;
    margin-left: 0.5rem;
}
.cut{
    text-decoration:line-through;
    color: rgba(0, 0, 0, 0.308);
   transition: 0.5s;
}
.newinpstyle{
    background: transparent;
    border:none;
    text-align: center;
    font-weight: bold;
    font-size: 1.25rem;
    outline: none;
}
@media screen and (max-width: 768px) {
    .main_container{
    height: 100vh;
    background: #FFC4C4;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    
    }
    
    .add_task_container,.list_task_container{
    background: #FCF5EE;
    width:  60%;
    height:  45vh;
    border-radius: 10px;
}
}
